.social-icons{
    display: flex;
    list-style-type: none;
    padding: 0;
}
.social-icons li {
    margin-right: .8rem;
    list-style-type: none;
}

.hero {
    position: relative;
    height: 100vh;
    background: url("/img/nature3.jpg");
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

div.overlay{
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(50, 50, 50, .65);
}

.hero-text {
    padding-top: 1rem;
    border-top: .2rem solid white;
    font-size: 1.5rem;
}