.social-icons{
    display: flex;
    list-style-type: none;
    padding: 0;
}
.social-icons li {
    margin-right: 2rem;
    list-style-type: none;
}



.hero {
    position: relative;
    height: 100vh;
    background: url("/img/nature3.jpg");
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

div.overlay{
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(50, 50, 50, .65);
}

.hero-text {
    padding-top: 1rem;
    border-top: .2rem solid white;
    font-size: 1.5rem;
}

.colored-navbar{
    background-color: #24355C;
}

.colored-navbar .facebook {
    color: #55acee;
}

.colored-navbar .twitter {
    color: #3b5998;
}


.colored-navbar .google {
    color: #dc4e41;
}

.twitter, .facebook, .google {
    color: #ffffff8c;
}

.colored-navbar .navbar-nav .nav-link {
    color: beige;
}

.feature-icon{
    color: orange;
    font-size: 3rem;
}

.section-header{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.section-text {
    color: #6c757d;
    margin-bottom: 2rem;
}

.col-header{
    margin:1.5rem 0;
}

section .section-text:nth-of-type(1) {
    margin-bottom: 4rem;
}

section {
    text-align: center;
}

section .container {
    border-bottom: 2px solid #f8f9fa;
    padding: 5rem 0; 
}

.img-wrapper{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.carousel-item > img {
    height: 225px;
    object-fit: cover;
    /* object-position: 50% 50%; */
}